/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Moulpali;
  src: url('/khmerfont/Moulpali.ttf') format("truetype");
}
body {
  background-color:lightcoral;
}
